{{#modal-dialog action="close"}}
<div class="application-modal">
    <div class="big_image-button">
        <img src="assets/images/_MG_1451_BEB.png" alt="Markus Brandt" height="350" />
    </div>
</div>
{{/modal-dialog}}